<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main page</title>
    <style>
        body {
            font-family: Fira Code;
            font-weight: lighter;
        }
        a {
            text-decoration: none;
        }
    </style>
</head>
<body>
    <h3>카테고리별 요리 레시피 추천 ~</h3>
    <ul>
        <li>
            <a href="/food_ko/" title="korean food" target="_blank">한식</a>
        </li>
        <li>
            <a href="/food_it/" title="Western food" target="_blank">양식</a>
        </li>
    </ul>
</body>
</html>