<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main page</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <style>
        body {
            text-align: left;
        }

        a {
            text-decoration: none;
        }
        a.hover {
            color: yellow;
        }
    </style>
</head>
<body>
    <h3>대환장 파티!!!</h3>
    <p>
        오늘은 덜아픔<br>
        다만 어제까지 계속 자는 바람에 개인 플젝의 진행도가 낮음<br><br>
        그래서 오늘은 어떻게든 최소한의 전처리는 끝내야함!!!<br>
    </p>
    <br>
    <p>
        그리고 오늘 중으로 주문했던 간식이 온다고 합니다~~~<br><br>
        예~~<br>
    </p>
    <P>
        실습..<br>
        별님 밑에다가...
    </p>
    <img src="{{url_for('static', filename='image/heptagram.png')}}" alt="hetagram" height="450px" width="800px"><br>
    <ul>
        <li>
            <a href="/info_hepta/" title="haptagram" target="_blank"> Infomation Heptagram
        </li>
        <li>
            <a href="/question/" title="question" target="_blank"> Question List
        </li>
    </ul>
</body>
</html>