<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main page</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <style>
        body {
            text-align: left;
        }
    </style>
</head>
<body>
    <h3>대환장 파티!!!</h3>
    <p>
        저거 자동 뜨는게 안떠서 빡침.!!<br>
        책 p/39보면 잘 나옴.<br><br>
        이번 주기는 겁나겁나 아파요 ㅠㅜㅠㅜㅠ<br><br><br>
        ㅠㅜㅠㅜㅠㅜ 이번 쉬는 시간에 약을 하나 먹어야겠네 ㅠㅜㅠㅜㅠㅜㅠ
    </p>
    <br>
    <p>
        조금은 참을 수 있는 고통으로 줄었군요 하하하하ㅏ핳<br><br>
        객기부리기 전에 약 먹고 왔습니다 ㅠㅜㅠㅜ
    </p>
    <P>
        멋있는 각별님!!!
    </p>
    <img src="{{url_for('static', filename='image/heptagram.png')}}" alt="hetagram" height="450px" width="800px"><br>
    <ul>
        <li>
            <a href="/info/" title="haptagram" target="_blank"> Infomation
        </li>
    </ul>
</body>
</html>