<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heptagram Info</title>
</head>
<body>
    <body style='background-color: yellow;'>
        <h3>heptagram Infomation</h3>
        <img src="{{url_for('static', filename='image/heptagram_face.png')}}" alt="hetagram_face"><br><br>
        <label>Heapagram charcter face</label><br>
        <ul>
            <li><strong>Name</strong>: Hetagram</li>
            <li><strong>Birthday</strong>: April 23th</li>
        </ul>
    
    </body>
</body>
</html>