<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main page</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <style>
        body {
            text-align: left;
        }

        a {
            text-decoration: none;
        }
        a.hover {
            color: yellow;
        }
    </style>
</head>
<body>
    <h3>대환장 파티!!!</h3>
    <p>
        여전히 안뜨지만 그런데로 하는중<br>
        오늘은 Blueprint 배우는 중<br><br>
        p.44~ 기능적으로 나눌 수 있데요<br><br><br>
        오늘은 비도오고 머리가 심하게 깨질것 같아요 ㅜㅡㅜㅡㅜㅡㅜㅠㅜ
    </p>
    <br>
    <p>
        객기 부리기 전에 약을 하나 먹어야겠어오 ㅠㅜㅠ<br><br>
        객기부리기 전에 약 먹고 왔습니다 ㅠㅜㅠㅜ<br>
        번역했던 파일 날려버려서 그것때문에 몸이 안좋은 건가 했더니..<br>
        에어컨이 이 세게 켜져있네요... 음... 살려줘...
    </p>
    <P>
        목이 아파요.. 자가다 또 이상한 자세로 자거나 꺽었나봐요 ㅜ<br>
        간만에 각별님 방송보고 싶다...
    </p>
    <img src="{{url_for('static', filename='image/heptagram.png')}}" alt="hetagram" height="450px" width="800px"><br>
    <ul>
        <li>
            <a href="/info_hepta/" title="haptagram" target="_blank"> Infomation Heptagram
        </li>
    </ul>
</body>
</html>