<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machine Learning</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/project.css')}}">
    <!-- <link rel="stylesheet" type="text/css" href="./static/css/project.css"> -->
</head>
<body>
    <div class="container">
        <h2>트위터 기반 MBTI classification</h2>
        <div>
            트위터의 트윗 개수로 간단하게 보는 MBTI 판별기 입니다~<br>
            -- 재미로만 봐주세요~~
        </div><br>
        <form method="post">
            <div class="input-group">
                <label for="total_retweet_count">Total Retweet Count:</label>
                <input type="number" name="total_retweet_count" id="total_retweet_count" placeholder="Retweet Count"
                    value="{inputs['total_retweet_count']}">
            </div>
            <div class="input-group">
                <label for="total_favorite_count">Total Favorite Count:</label>
                <input type="number" name="total_favorite_count" id="total_favorite_count" placeholder="Favorite Count"
                    value="{inputs['total_favorite_count']}">
            </div>
            <div class="input-group">
                <label for="total_hashtag_count">Total Hashtag Count:</label>
                <input type="number" name="total_hashtag_count" id="total_hashtag_count" placeholder="Hashtag Count"
                    value="{inputs['total_hashtag_count']}">
            </div>
            <div class="input-group">
                <label for="total_url_count">Total URL Count:</label>
                <input type="number" name="total_url_count" id="total_url_count" placeholder="URL Count"
                    value="{inputs['total_url_count']}">
            </div>
            <div class="input-group">
                <label for="total_mentions_count">Total Mentions Count:</label>
                <input type="number" name="total_mentions_count" id="total_mentions_count" placeholder="Mentions Count"
                    value="{inputs['total_mentions_count']}">
            </div>
            <div class="input-group">
                <label for="total_media_count">Total Media Count:</label>
                <input type="number" name="total_media_count" id="total_media_count" placeholder="Media Count"
                    value="{inputs['total_media_count']}">
            </div>
            <div class="input-group">
                <label for="number_of_tweets_scraped">Total Tweets Scraped:</label>
                <input type="number" name="number_of_tweets_scraped" id="number_of_tweets_scraped"
                    placeholder="Number of Tweets Scraped" value="{inputs['number_of_tweets_scraped']}">
            </div>
            <button type="submit" class="submit-btn">결과</button>
        </form>
    
        <div class="answer-section">
            <h3>MBTI 결과:</h3>
            <p>{{msg}} 입니다!</p>
        </div>
    </div>
</body>
</html>