<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nature Language Processing</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/project.css')}}">
    <!-- <link rel="stylesheet" type="text/css" href="./static/css/project.css"> -->
</head>
<body>
    <div class="container">
        <h2>질문을 입력하세요:</h2>
        <div>
            정신과 이진 분류 모델입니다.<br>
            친구가 옆에서 '이러한 조언을 해주더라'라는 느낌으로 가볍게 봐주세요. 
        </div><br>
        <form method="post">
            <textarea name="text" class="question-input" rows="10" cols="40">{{text}}</textarea>
            <br>
            <button type="submit" class="submit-btn">질문하기</button>
        </form>
    
        <div class="answer-section">
            <h3>답변:</h3>
            <p>{{msg}}의 진료를 받으세요</p>
        </div>
    </div>
    </body>
</body>
</html>