<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heptagram Info</title>
</head>
<body>
    <body style='background-color: yellow;'>
        <h3>Heptagram Infomation</h3>
        <a href="https://www.youtube.com/@kakstar" title="Heptagram_youtube" alt="Heptagram_youtube" target="_blank">
            <img src="{{url_for('static', filename='image/heptagram_face.png')}}" alt="hetagram_face">
        </a>
        <br><br>
        <label>Heptagram charcter face</label><br>
        <ul>
            <li><strong>Name</strong>: Hetagram</li>
            <li><strong>Real Name</strong>: 김일영</li>
            <li><strong>Birthday</strong>: April 23th</li>
            <li><strong>MBTI</strong>: ISTJ</li>
            <li><strong>Nickname</strong>: 돈각별, 독각별, 길잃영, 길10, 단무지</li> 
        </ul>
    
    </body>
</body>
</html>