{% extends 'question_list.html' %}
{% block content %}
    <h3>질문 상세보기</h3>
    <div class="title">
        <label>제목: </label>
        {{question.subject}}
    </div>
    <br>
    <div class="content">
        <label>내용:</label><br>
        <p>
            {{question.content}}
        </p>
    </div>
    <br>
    <hr>
    <h3>{{question.answer_set|length}}개의 답변이 있습니다.</h3>
    <div>
        <ul>
            {% for answer in question.answer_set %}
                <li>{{answer.content}}</li>
            {% endfor %}
        </ul>
    </div>
    <br>
    <div>
        <form action="{{url_for('answer.create', q_id=question.id)}}" method="post">
            <textarea name="content" rows="10" cols="100" placeholder="답글입력"></textarea><br>
            <input type="submit" value="답변등록">
        </form>
    </div>
{% endblock %}
