<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sentens horror</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/project.css')}}">
</head>
<body>
    <title>main page</title>
    <style>
        body {
            font-family: Fira Code;
            font-weight: lighter;
        }
        a {
            text-decoration: none;
        }
    </style>
</head>
<body>
    <h3>레딧 두 문장 괴담 생성기</h3>
    <ul>
        <li>
            <a href="/model/" title="seq_model" target="_blank">Seq2Seq model</a>
        </li>
        <!-- <li>
            <a href="/food_it/" title="Western food" target="_blank">양식</a>
        </li> -->
    </ul>
</body>
</html>